/*CSS Stylesheet*/

/** {border: 1px solid black;}*/

body {
    margin: 0;
}
img {
    max-width: 100%;
    max-height: 80vh;
}
header {
  background-color: white;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 1;
}
nav {
  float: right;
  padding-right: 100px;
}
nav ul {
  color: #08BDD8;

}
nav ul li {
  display: inline-block;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 18px;
  margin: 0px;
  color: #08BDD8;
}
a {
  text-decoration: none;
}
#headerbubble {
  max-height: 60px;
  padding-left: 100px;
}
.section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: pink;
}
#secone {
  padding-top: 40px;
  background-color: #08BDD8;
}
#sectwo {
  padding-top: 100px;
  background-color: #ffffff;
}
#secthree {
  padding-top: 80px;
  background-color: #182E4A;
}
#secfour {
  padding-top: 100px;
  background-color: #ff4c42;
}
#sectwo div h1{
  color: grey;
}
#sectwo div h5{
  color: grey;
}
#sectwo p{
  color: grey;
}
#secfive {
  padding-top: 100px;
  background-color: #01a6be;
}
#secsix {
  text-align: center;
  padding-top: 100px;
  background-color: #5E6A7A;
}
.secsixtext {
  text-align: center;
}
#comingsoon {
  max-width: 50%;
}

#learnmorebutton {
  font-size: 12pt;
  background-color: #08BDD8;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}
iframe {
  margin-top: 50px;
  border: 2px solid white;
}
/*#sectwo {
margin-top: 0px;
padding-top: 0px;

}*/
.container {
  margin-top: 0px;
  text-align: center;
  color: white;
}
#mainscreen {
  max-height: 95vh;
}
#oneleft {
  margin-top: 0px;
}
#oneright {
  margin-left: 0px;
  margin-top: 100px;
}
#allogo {
  margin-top: 15%;
}
h1 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 42pt;
}
h3 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 32pt;
}
h5 {
  font-family: 'Roboto', sans-serif;
    text-align: left;
    font-style: italic;
    font-size: 20pt;
}
p {
    font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 12pt;
}
#getabairleatsec h1 {
  text-align: center;
  color: white;
}

#learnmoresec h2 {
  text-align: center;
  color: white;
  margin-bottom: 0px;

}

@media all and (min-width: 680px) {
    #mobileNav {
        display: none;
    }
}
@media all and (max-width: 680px) {
    #navigation {
        display: none;
    }
    #headerbubble {
      display: none;
    }
    #mobileNav li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid white;
        padding-left: 0px;
    }
    #menu {
        display: none;
    }
    .btn {
        cursor: pointer;
        padding: 15px;
        display: block;
    }
