/*CSS Stylesheet*/

/** {border: 1px solid black;}*/

body {
    text-align: center;
}
#wrapper {
  max-width: 1500px;
  text-align: left;
  margin: 0 auto;
}
img {
    max-width: 100%;
    max-height: 80vh;
}
iframe {
  width: 500px;
}
main {
  text-align: center;
}

#comingsoontop {
  width: 50%;
}

#engbutton {
  padding: 10px;
  margin-bottom: 12px;
  background-color: #08BDD8;
  color: white;
  font-size: 10px;
  margin-left: 20px;
}
header {
  max-width: 1500px;
  background: white;
  opacity: 0.95;
  position: fixed;
  height: 64px;
  width: 100%;
  z-index: 1;
}
nav {
  float: right;
  padding-right: 30px;
}
nav ul {
  color: #08BDD8;

}
nav ul li {
  display: inline-block;
  text-decoration: none;
  /*padding-top: 15px;*/
  padding-bottom: 0px;
  font-size: 19px;
  margin: 0px;
  color: #08BDD8;
}
a {
  color: #08BDD8;
  text-decoration: none;
}
#headerbubble {
  margin-top: 17px;
  max-height: 28px;
  padding-left: 70px;
}
#headerone {
  display: none;
}
.section {
  /*padding: 80px;*/
  position: relative;
  width: 100vw;
  max-width: 1500px;
  max-height: 800px;
  padding-bottom: 20px;
}
#secone {
  padding-top: 40px;
  background-color: #08BDD8;
}
#sectwo {
  padding-top: 100px;
  background-color: #ffffff;
}
#secthree {
  padding: 40px 0px;
  background-color: #182E4A;
}
#secfour {
  padding: 70px 0px;
  background-color: #CE3E3E;
}
#sectwo div h1{
  color: grey;
}
#sectwo div h5{
  color: grey;
}
#sectwo p{
  color: grey;
}
#secfive {
  padding: 40px 0px;
  background-color: #b8c2cc;
}
.secfivetext {
  color: #616f6f;
}
#usertitle {
  line-height: 35pt;
}
#fiveright {
  padding-left: 30px;
}
#secsix {
  text-align: center;
  padding-top: 100px;
  background-color: #5E6A7A;
}
.secsixtext {
  text-align: center;
}
#comingsoon {
  max-width: 50%;
}

#learnmorebutton {
  font-size: 12pt;
  background-color: #08BDD8;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}
iframe {
  margin-top: 50px;
  border: 2px solid white;
}
/*#sectwo {
margin-top: 0px;
padding-top: 0px;

}*/
.container {
  margin-top: 0px;
  text-align: center;
  color: white;
}
#mainscreen {
  max-height: 95vh;
}
#predicitve {
  margin-bottom: 20px;
  max-height: 650px;
}
#otherthings {
  margin-bottom: 20px;
    max-height: 650px;
}
#oneleft {
  margin-top: 0px;
}
#oneright {
  margin-left: 0px;
  margin-top: 100px;
}
#allogo {
  margin-top: 15%;
}
h1 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 38pt;
  font-weight: 100;
}
h3 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 32pt;
  font-weight: 100;
}
h5 {
  font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 16pt;
    font-weight: 300;
    line-height: 21px;
}
p {
    font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 12pt;
      font-weight: 300;
}
#getabairleatsec h1 {
  text-align: center;
  color: white;
}

#learnmoresec h2 {
  text-align: center;
  color: white;
  margin-bottom: 0px;
}
#icon {
  padding-top: 40px;
}
footer {
  background-color: white;
  color: grey;
  text-align: center;
}
#copyright {
  padding-top: 10px;
  margin: 0px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .section {
    max-height: 3000px;
  }
}
@media screen and (max-width: 590px) {
  #mobilelogo {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  #headerbubble {
    display: none;
  }
  nav {
    text-align: center;
    padding-right: 0px;
    float: none;
  }
}
@media screen and (max-width: 650px) {
  iframe {
    width: 300px;
  }
  #predicitve {
    padding-bottom: 20px;
  }
  .section {
    padding: 0px;
  }
}
@media screen and (max-width: 500px) {
  nav ul li {
    font-size: 11pt;
  }
}
@media screen and (max-width: 450px) {
  nav {
    float: none;
  }
  #learnmorebutton {
    font-size: 9pt;
  }
  #engbutton {
    margin-left: 5px;
    padding: 5px;
  }
}

@media screen and (max-width: 1020px) {
  #allogo {
    margin-top: -100px;
  }
  .section {
    max-height: none;
  }
}
